.popup__input {
    width: 100%;
    margin: 0;
    border: 0;
    padding: 0 0 10px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    font-size: 14px;
    line-height: 1.21;
    font-weight: 400;
    outline: none;
}

Z

.popup__input::placeholder {
    color: #000000;
}