.popup__name {
    width: 100%;
    border: 0;
    border-bottom: 1px solid #545454;
    padding: 0 0 8px;
    margin: 0 auto 30px;
    outline: none;
}

.popup__name::placeholder {
    color: #000000;
}