.profile__name {
    max-width: 294px;
    font-style: normal;
    font-weight: 500;
    font-size: 42px;
    line-height: 48px;
    align-self: end;
    color: #FFFFFF;
    margin: 0;
    background-color: #000000;
    border: 0;
    padding: 0 0 0 30px;

}

@media screen and (max-width: 799px) {
    .profile__name {
        font-size: 27px;
        line-height: 33px;
        text-align: center;
        grid-row: 2/3;
        grid-column: 1/2;
        justify-self: end;
        padding: 0;
        width: 80%;
    }
}

.profile__name::placeholder {
    color: #FFFFFF;
}