.element__trash {
    width: 18px;
    height: 19px;
    background-image: url("../__trash/delicon.svg");
    top: 20px;
    right: 20px;
    border: 0;
    position: absolute;
    background-color: transparent;
    background-repeat: no-repeat;
    cursor: pointer;
}

.element__trash:hover {
    opacity: 0.6;
}